@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--aw_fourth_color);
  background-color: var(--aw_fifth_color);
  /* font-family: var(--aw_primary_font); */
  overflow-x: hidden;
}
/* global */
:root {
  --aw_primary_color: #3498db;
  --aw_secondary_color: #2ecc71;
  --aw_third_color: #95a5a6;
  --aw_fourth_color: #e67e22;
  --aw_fifth_color: #ecf0f1;
  --aw_primary_font: 'Playfair Display', serif;
  --aw_secondary_font: 'Poppins', serif;
}

.primary-color {
  color: var(--aw_primary_color) !important;
}
.secondary-color {
  color: var(--aw_secondary_color) !important;
}
.third-color {
  color: var(--aw_third_color) !important;
}
.fourth-color {
  color: var(--aw_fourth_color) !important;
}
.fifth-color {
  color: var(--aw_fifth_color) !important;
}
.font-primary {
  font-family: var(--aw_primary_font) !important;
}
.font-secondary {
  font-family: var(--aw_secondary_font) !important;
}
